# Version 1

When entered correctly, the postcode district should be separated from the rest of the postcode by a space:

In [31]:
# Splitting the zipcode string at the space, and keeping the first half
df['postcode_area'] = df.zipcode.str.upper().str.split(' ').str[0]

Unfortunately this appears to be a free entry form, as the maximum length of a postcode district is 4:

In [32]:
df.postcode_area.str.len().value_counts()

3.0     36019
2.0     21554
4.0     18780
6.0       476
5.0       330
7.0       318
1.0         7
8.0         3
11.0        2
0.0         1
Name: postcode_area, dtype: int64

In [33]:
# Some examples of postcode districts with length 5, which is not an allowable length
df[df.postcode_area.str.len() == 5][:5]

,experiences_offered,host_since,host_response_time,host_response_rate,host_is_superhost,host_listings_count,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,zipcode,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,reviews_per_month,host_days_active,postcode_area
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
51830,none,2010-09-19,within a few hours,100%,f,1.0,t,t,Westminster,W25PB,51.51732,-0.19313,Apartment,Entire home/apt,3,1.0,1.0,2.0,Real Bed,"{TV,""Cable TV"",Internet,Wifi,Kitchen,""Paid par...",$120.00,$400.00,$50.00,2,$20.00,2,42,today,t,4,6,6,28,104,9,2011-01-11,2019-01-03,94.0,9.0,9.0,10.0,10.0,10.0,9.0,f,t,f,strict_14_with_grace_period,f,f,1.04,3124.0,W25PB
97209,none,2011-04-17,unknown,unknown,f,2.0,t,f,Hackney,E50EN,51.55457,-0.03643,Apartment,Entire home/apt,2,1.0,1.0,1.0,Real Bed,"{Internet,Wifi,Kitchen,""Free parking on premis...",$80.00,"$1,000.00",$50.00,2,$20.00,14,730,23 months ago,t,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,f,f,strict_14_with_grace_period,f,f,NaN,2914.0,E50EN
244112,none,2011-10-12,within a day,50-89%,t,1.0,t,f,Islington,N12HG,51.54216,-0.09764,House,Private room,1,2.0,1.0,0.0,Real Bed,"{Internet,Wifi,Kitchen,Breakfast,Heating}",$50.00,NaN,NaN,1,$50.00,2,365,2 months ago,t,23,53,83,358,125,10,2012-02-11,2019-04-07,94.0,10.0,9.0,10.0,10.0,10.0,10.0,f,f,f,moderate,f,f,1.43,2736.0,N12HG
387935,social,2012-03-17,within an hour,100%,f,1.0,t,t,Hackney,E58AJ,51.56047,-0.06469,Apartment,Private room,2,1.0,1.0,1.0,Real Bed,"{TV,Internet,Wifi,Kitchen,""Paid parking off pr...",$50.00,NaN,NaN,1,$0.00,1,5,3 days ago,t,1,10,40,315,2,0,2012-03-27,2013-10-12,90.0,10.0,8.0,10.0,10.0,10.0,8.0,f,f,f,flexible,f,f,0.02,2579.0,E58AJ
387951,none,2012-03-17,within a day,50-89%,f,4.0,t,f,Islington,N10ju,51.53890,-0.11298,House,Private room,2,1.0,1.0,0.0,Real Bed,"{TV,Internet,Wifi,""Wheelchair accessible"",""Fre...",$85.00,$85.00,$30.00,1,$0.00,1,90,11 months ago,t,30,60,90,365,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,f,f,strict_14_with_grace_period,f,t,NaN,2579.0,N10JU

Although it would be possible to correct a lot of these postcodes by going through manually and extracting the correct codes, this would be a laborious manual process and is not easily solved by regex or other logical rules (known from personal experience).

Non-central London postcodes (those in the orange area of the first image above) are less common, and can be reduced to the first two letters of their postcode (known as a postcode area).

After this all postcode districts with a length other than 2, 3 and 4 (the only correct lengths), or a null value, or with a small count, will be replaced with 'unknown'.

In [34]:
# Replacing outer London postcode districts with their two-letter postcode areas
df.loc[df.postcode_area.str.startswith(('EN', 'CM','IG', 'RM', 'DA', 'BR', 'CR', 'SM', 'KT', 'TW', 'UB', 'HA', 'WD'), na=False), 'postcode_area'] = df.postcode_area.str[:2]

In [35]:
df.postcode_area[(df.postcode_area.str.len() < 2)] = "unknown" # Replace postal areas with a length less than 2
df.postcode_area[(df.postcode_area.str.len() > 4)] = "unknown" # Replace postal areas with a length more than 4
df.postcode_area.fillna("unknown", inplace=True) # Replace null postal areas
#df.drop(df.loc[df.postcode_area=='unknown'].index, inplace=True) # Dropping unknowns
df.postcode_area.value_counts() # Show value counts

C:\Users\Laura\Anaconda3\envs\learn-env\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Laura\Anaconda3\envs\learn-env\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

unknown    2961
E1         2945
W2         2676
N1         2660
E2         2051
NW1        1942
SE1        1907
E14        1599
TW         1423
SW6        1415
SW11       1364
E8         1340
NW6        1208
W14        1102
N16        1025
HA          973
E3          966
N7          924
W9          923
CR          898
NW10        887
NW3         884
SW18        877
SW1V        870
SW19        857
SW3         856
E5          819
SW5         816
SE16        814
SW7         794
W12         786
N4          785
W11         782
SW2         770
SW8         768
W6          755
E9          732
SW9         726
SE15        634
UB          633
SE5         630
SW10        618
W8          617
NW2         614
E15         606
E16         603
W10         598
SW4         593
SW15        567
W3          559
           ...
EC2Y         14
WC2A         13
WIJ          11
EC4N         11
TN16         10
EC4Y         10
W1            9
W1C           9
EC1           8
EC3A          7
EC4M          7
EC2N          6
WC15          5
EC2V          5
SW1           5
EC3           4
WC1           3
WC2           3
SW            3
EC2R          2
EC3V          2
E27F          2
NW            2
SE            2
SL3           2
WEST          1
DE4           1
BN3           1
W1T1          1
TF10          1
CT5           1
8EU           1
CV34          1
SW$           1
RH13          1
W1CB          1
N/A           1
PE20          1
E77           1
BT15          1
28            1
NW6,          1
NN5           1
W86           1
E27           1
NI            1
2010          1
[NO           1
W37           1
WD            1
Name: postcode_area, Length: 222, dtype: int64

In [36]:
# Renaming rows with fewer than 500 listings
value_counts = df.postcode_area.value_counts()
to_rename = value_counts[value_counts < 400].index
df.postcode_area[(df.postcode_area.isin(to_rename))] = "unknown"

C:\Users\Laura\Anaconda3\envs\learn-env\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [37]:
df.postcode_area.value_counts()

unknown    19905
E1          2945
W2          2676
N1          2660
E2          2051
NW1         1942
SE1         1907
E14         1599
TW          1423
SW6         1415
SW11        1364
E8          1340
NW6         1208
W14         1102
N16         1025
HA           973
E3           966
N7           924
W9           923
CR           898
NW10         887
NW3          884
SW18         877
SW1V         870
SW19         857
SW3          856
E5           819
SW5          816
SE16         814
SW7          794
W12          786
N4           785
W11          782
SW2          770
SW8          768
W6           755
E9           732
SW9          726
SE15         634
UB           633
SE5          630
SW10         618
W8           617
NW2          614
E15          606
E16          603
W10          598
SW4          593
SW15         567
W3           559
E17          556
SE17         550
SE11         544
KT           538
EC1V         537
SW16         531
SW17         503
IG           494
BR           488
NW5          479
SE10         477
N5           457
W4           455
W1T          441
N19          432
NW8          427
RM           418
Name: postcode_area, dtype: int64

Unfortunately the 'unknown' category now swamps other categories. This will be returned to later (e.g. by creating a list of allowable categories, which are more granular in more central London, and less granular outside).

In [38]:
df.drop('zipcode', axis=1, inplace=True)

# Version 2

**zipcode**

Postcodes in the UK are complicated and messy. They can be various lengths, and consist of letters and numbers in various orders. The first half of a postcode is called the outcode or postcode district, and refers to areas as shown in the top image below. Just to make things more complicated, the main geographic division of London is into 32 boroughs plus the City of London (technically a Corporation rather than a borough due to some quirks of 12th Century English history), which do not align with postcode districts (as seen in the bottom image below).

London postcode districts:
<img src="images/London_outcodes.png" width="500">

London postcode districts (red), layered over London boroughs (black lines):
<img src="images/London_boroughs_and_outcodes.png" width="500">

In fact, there is not even agreement on what counts as 'inner London':

(Image source: https://en.wikipedia.org/wiki/Inner_London)
<img src="images/Inner_London.png" width="250">

Postcode districts are on a more granular geographic scale than boroughs, and so in theory it would be preferable to use these instead of boroughs. However, this would require the one-hot encoding of postcode districts in categories, which would result in the addition of hundreds of extra features.

Therefore, for the purposes of creating a functional pricing model, borough will be used instead of zipcode. Alternative versions could be to use postcode districts, or to incorporate latitude and longitude into the model, and these can be explored in the future.

For now, zipcode will be dropped.

In [985]:
df.drop('zipcode', axis=1, inplace=True)